<!-- components/header.html -->
<header>
  <div class="container">
    <nav class="main-nav">
      <ul class="nav-menu">
        <li><a href="../index.html">Home</a></li>
        <li>
          <a href="#">About Conference</a>
          <ul class="dropdown-menu">
            <li><a href="organizers.html">Organizers</a></li>
            <li><a href="history.html">History</a></li>
            <li><a href="support.html">Support</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Registration</a>
          <ul class="dropdown-menu">
            <li><a href="application.html">Application for participation</a></li>
            <li><a href="participants.html">Participants</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Announcement</a>
          <ul class="dropdown-menu">
            <li><a href="first.html">First</a></li>
            <li><a href="second.html">Second</a></li>
            <li><a href="proceedings.html">Proceedings</a></li>
          </ul>
        </li>
        <li>
          <a href="#">For Lecture</a>
          <ul class="dropdown-menu">
            <li><a href="abstracts.html">Abstracts</a></li>
            <li><a href="posters.html">Posters</a></li>
            <li><a href="pamphlet.html">Pamphlet</a></li>
            <li><a href="program.html">Program</a></li>
            <li><a href="photo.html">Photo</a></li>
          </ul>
        </li>
        <li>
          <a href="#">Travel Information</a>
          <ul class="dropdown-menu">
            <li><a href="accommodation.html">Accommodation</a></li>
            <li><a href="transportation.html">Transportation</a></li>
            <li><a href="venue.html">Venue</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>
